// colors

$color-1: #172a4a; // 
$color-2: #990000; // 
$color-3: #6cb1de; // 
$color-4: #f5b65a; // 
$color-5: #990000; // 
$color-6: #8abeb2; // 
$color-7: #ffffff; // 

// fonts 

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto Condensed';

// animation

$animation-duration: 0.4s;